<app-loading *ngIf="loading || !auth.user"></app-loading>
<div class="row animated fadeIn" *ngIf="!loading && auth.user">
  <div class="col-lg-3">
    <div class="mt-2 p-2 img-tournament-logo d-flex flex-column justify-content-between rounded-top border"
        [style.background-image]="tournament.photoUrl | photo: 256: 'trophy--v2' | uriStyleSanitizer: true">
      <button mat-stroked-button class="img-tournament-privacy"
              [style.background-image]="tournament.tournamentPrivacy | imgPrivacy | uriStyleSanitizer"></button>
      <div class="d-flex flex-row justify-content-between align-items-center text-light">
        <span class="h4 w-100 m-0 text-truncate">{{tournament.title}}</span>
        <button mat-mini-fab color="default" (click)="toggleUploadPhoto()" class="p-0"
                *ngIf="tournamentDetailsService.isCreator()">
            <img src="https://png.icons8.com/color/24/edit-image.png" alt="edit tournament picture">
        </button>
      </div>
    </div>
    <div class="col p-0 mt-2" *ngIf="uploadingPhoto">
      <app-upload [path]="uploadPath" (photoUrl)="updatePhotoURL($event)"></app-upload>
    </div>
    <app-tournament-participants></app-tournament-participants>
  </div>
  <div class="col-lg-6">
    <app-tournament-details></app-tournament-details>
  </div>
  <div class="col-lg-3">
    <app-pool-settings></app-pool-settings>
  </div>
</div>
