<div class="card mb-2">
  <div class="card-header border-dark d-flex align-items-center justify-content-between">
    <span class="h5 m-0">Group Stage</span>
    <button mat-raised-button class="bg-warning" *ngIf="tournamentDetailsService.isCreator() && !hideStartGroup()"
            (click)="startGroupStage()">
      <fa-icon [icon]="faRocket"></fa-icon> Start stage</button>
  </div>
  <div class="card-body p-2">
    <div *ngIf="tournament.tournamentTeams; else groupParticipants">
        <app-group-teams></app-group-teams>
    </div>
    <ng-template #groupParticipants>
        <app-group-participants></app-group-participants>
    </ng-template>
  </div>
  <div class="card-header border-dark d-flex align-items-center justify-content-between">
    <span class="h5 m-0">Playoffs Stage</span>
    <button mat-raised-button class="bg-warning" *ngIf="tournamentDetailsService.isCreator() && !hideStartPlayoff()"
            (click)="startFinalsStage()">
      <fa-icon [icon]="faRocket"></fa-icon> Start stage
    </button>
  </div>
  <div class="card-body p-2">
    <div *ngIf="tournament.tournamentTeams; else playoffParticipants">
        <app-playoff-teams></app-playoff-teams>
    </div>
    <ng-template #playoffParticipants>
        <app-playoff-participants></app-playoff-participants>
    </ng-template>
  </div>
</div>
