<app-loading *ngIf="!groups"></app-loading>
<div class="card-decks animated fadeIn" *ngIf="groups">
  <div class="card mb-1" *ngFor="let group of groups">
    <div class="card-body p-0">
      <table class="table table-sm m-0 table-hover table-responsive">
        <thead class="thead-dark">
          <tr>
            <th class="col text-center">Group {{ group.name }}</th>
            <th class="px-3 d-none d-sm-table-cell">GP</th>
            <th class="px-3 d-none d-sm-table-cell">GW</th>
            <th class="px-3 d-none d-sm-table-cell">GT</th>
            <th class="px-3 d-none d-sm-table-cell">GL</th>
            <th class="px-3">Pts</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="group.groupParticipants.length === 0; else participants"
              class="text-muted text-center">
            <td colspan="6">There are no participants in this group</td>
          </tr>
          <tr #participants class="text-center" *ngFor="let groupParticipant of group.groupParticipants">
            <td class="text-left d-flex align-items-center">
              <div class="img-fluid rounded-circle img-participant-squared"
                   [style.background-image]="groupParticipant.user.photoUrl | photo: 32: 'gender-neutral-user' | uriStyleSanitizer">
             </div>
             <span class="mx-2">{{groupParticipant.user.displayName}}</span>
            </td>
            <td class="d-none d-sm-table-cell">{{ groupParticipant.gamesPlayed }}</td>
            <td class="d-none d-sm-table-cell">{{ groupParticipant.gamesWon }}</td>
            <td class="d-none d-sm-table-cell">{{ groupParticipant.gamesTied }}</td>
            <td class="d-none d-sm-table-cell">{{ groupParticipant.gamesLost }}</td>
            <td>{{ groupParticipant.points }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer" *ngIf="tournamentDetailsService.isCreator() && tournamentDetailsService.isNewTournament()">
      <button type="button" class="btn rounded-pill btn-info btn-sm" (click)="showPendingGroupParticipants(group)">
        <fa-icon [icon]="faPlusCircle"></fa-icon> Assign participant
      </button>
    </div>
  </div>
</div>
