:host ::ng-deep div.mat-form-field-wrapper {
  padding-bottom: 0;
}

.img-follower-squared {
  height: 80px;
  min-width: 80px;
  max-width: 80px;
  background-position: center;
  background-size: cover;
}