<div class="card">
  <div class="card-header">
    <mat-form-field appearance="outline" class="col p-0">
      <mat-label>Find people</mat-label>
      <input matInput placeholder="Type people's name"
            [(ngModel)]="name"
            (keyup)="searchUser(userElement)" #userElement
            (keydown.escape)="clearSearch()">
    </mat-form-field>
    <div class="row m-0 position-relative mat-elevation-z4">
      <div class="position-absolute w-100" style="z-index: 1000">
        <app-following-list [users]="searchResultUsers" (userSelectedEvent)="follow($event)"></app-following-list>
      </div>
    </div>
  </div>
  <div class="card-body">
    <app-loading *ngIf="loading"></app-loading>
    <div class="row m-0">
      <ul class="list-group animated fadeIn fast p-0 w-100" *ngIf="userFollowersService.user?.following">
        <li *ngIf="userFollowersService.user.following.length === 0; else following"
            class="list-group-item text-muted text-center">
          <span>You're not following anyone yet, try typing a name</span>
        </li>
        <ng-template #following>
          <li class="list-group-item p-2 d-flex" *ngFor="let user of userFollowersService.user.following">
            <app-profile-photo [user]="user" [viewProfile]="false"></app-profile-photo>
            <div class="d-flex flex-column px-2 flex-fill">
              <span class="h5 text-break">{{user.displayName}}</span>
              <small class="text-break font-italic">{{user?.description}}</small>
              <div class="d-flex justify-content-end">
                <button mat-raised-button color="warn" (click)="unfollow(user)">
                  <img src="https://png.icons8.com/color/cancel/24" alt="unfollow"> Unfollow
                </button>
              </div>
            </div>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</div>