<app-loading *ngIf="!auth.user"></app-loading>
<div *ngIf="auth.user">
  <div class="row">
    <div class="col-sm-12 my-2">
      <ul class="list-group">
        <li class="list-group-item list-group-item-action d-flex justify-content-center"
            [routerLink]="['/profile', auth.user.uid]">
          <div class="text-light align-items-end d-flex img-profile-squared text-center mat-elevation-z4 rounded-top"
                [style.background-image]="auth.user.photoUrl | photo: 194: 'gender-neutral-user' | uriStyleSanitizer: true">
            <span class="h4 text-truncate mb-2 flex-fill">
              {{auth.user.displayName}}
            </span>
          </div>
        </li>
        <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
          Wallet
          <span class="badge badge-info">$400</span>
        </li>
        <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
          Followers
          <span class="badge badge-info">20</span>
        </li>
        <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
          Following
          <span class="badge badge-info">75</span>
        </li>
      </ul>
    </div>
  </div>
</div>
