.img-notification-origin-squared {
  height: 48px;
  min-width: 48px;
  max-width: 48px;
  background-position: center;
  background-size: cover;
}

.img-notification-type {
  height: 24px;
  min-width: 24px;
  max-width: 24px;
  background-position: center;
  background-size: cover;
}

.img-notification-destiny-squared {
  height: 96px;
  min-width: 96px;
  max-width: 96px;
  background-position: center;
  background-size: cover;
}