<div class="card my-2 d-none">
  <div class="card-header">New certified tournaments</div>
  <div class="card-body"></div>
</div>
<app-loading *ngIf="!notifications"></app-loading>
<div class="card my-2 bg-light" *ngIf="notifications?.length === 0; else showNotifications">
  <div class="card-body text-center m-0">
    <span class="h5 font-weight-bold">Start following people to see what they're doing</span>
  </div>
</div>
<ng-template #showNotifications>
  <div *ngFor="let notificationUser of notifications">
    <app-notification [notificationUser]="notificationUser"></app-notification>
  </div>
</ng-template>