.card-title-logo {
  height: 128px;
  background-position: center;
  background-size: cover;
}

.card-text {
  font-size: .7em;
}

.card {
  cursor: pointer;
}

.img-tournament-privacy {
  height: 24px;
  min-width: 24px;
  max-width: 24px;
  background-position: center;
  background-size: cover;
}