<div class="row m-2">
  <button type="button" class="btn btn-sm btn-success rounded-pill" [routerLink]="['/tournament']">
    <fa-icon [icon]="faPlusCircle"></fa-icon> Tournament
  </button>
</div>
<div class="row position-relative p-3" *ngIf="!tournaments">
  <app-loading></app-loading>
</div>
<div class="row m-0" *ngIf="tournaments">
  <div class="col-xs col-xl-6 d-flex align-items-stretch p-1" (click)="viewTournament(tournament)"
        *ngFor="let tournament of tournaments">
    <div class="card text-center flex-fill">
      <div class="card-body p-0 flex-column d-flex justify-content-between">
        <div>
          <div class="mb-1 text-light align-items-end d-flex card-title-logo text-center"
                [style.background-image]="tournament.photoUrl | photo: 128: 'trophy--v2' | uriStyleSanitizer">
            <span class="card-title text-truncate m-0 flex-fill">
              {{tournament.title}}
            </span>
          </div>
          <span class="card-text d-block">
            Participants <span class="badge badge-success badge-pill">{{tournament.participants.length}}</span>
          </span>
        </div>
      </div>
      <div class="card-footer p-2 text-success bg-dark">
        <span class="card-text d-block">{{tournament.creationDate | date}}</span>
      </div>
    </div>
  </div>
</div>
