<div class="card">
    <div class="card-body">
      <app-loading *ngIf="loading"></app-loading>
      <div class="row m-0">
        <ul class="list-group animated fadeIn fast col p-0" *ngIf="userFollowersService.user?.followers">
          <li *ngIf="userFollowersService.user.followers.length === 0; else followers"
              class="list-group-item text-muted text-center">
            <span>You're not followed by anyone yet</span>
          </li>
          <ng-template #followers>
            <li class="list-group-item d-flex p-2" *ngFor="let user of userFollowersService.user?.followers">
              <app-profile-photo [user]="user" [viewProfile]="false"></app-profile-photo>
              <div class="d-flex flex-column px-2 flex-fill">
                <span class="h5 text-break">{{user.displayName}}</span>
                <small class="text-break font-italic">{{user?.description}}</small>
                <div class="d-flex justify-content-end">
                  <button mat-stroked-button *ngIf="userFollowersService.following(user)">
                    <img src="https://png.icons8.com/color/checked-radio-button/24" alt="following"> Following
                  </button>
                  <button mat-raised-button color="default" (click)="follow(user)" *ngIf="!userFollowersService.following(user)">
                    <img src="https://png.icons8.com/color/checked/24" alt="follow"> Follow
                  </button>
                </div>
              </div>
            </li>
          </ng-template>
        </ul>
      </div>
    </div>
  </div>