<mat-expansion-panel class="m-o" (opened)="afterExpand()" (closed)="commenting = false" [expanded]="commenting">
    <mat-expansion-panel-header>
        <mat-panel-title>
          <span>Show comments</span>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <app-loading *ngIf="loading"></app-loading>
    <div class="card border-0" *ngFor="let comment of comments">
      <div class="card-header border-0 d-flex bg-white align-items-start p-1">
        <app-profile-photo size="small" [circle]="true" [user]="comment.user"></app-profile-photo>
        <div class="d-flex flex-column align-items-start flex-grow-1 mx-1">
          <span class="mx-2">{{ comment.user.displayName }}</span>
          <small class="mx-2 text-muted">{{ comment.creationDate | date: 'medium' }}</small>
          <span class="p-2 bg-light rounded align-self-stretch"> {{comment.comment}} </span>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center">
      <mat-form-field appearance="outline" class="flex-grow-1">
        <input type="text" placeholder="Type your comment" matInput [(ngModel)]="comment.comment" #inputComment>
      </mat-form-field>
      <button mat-stroked-button class="ml-1" (click)="addComment()" [disabled]="loading">
        <fa-icon [icon]="faCommentAlt"></fa-icon>
      </button>
    </div>
</mat-expansion-panel>
