<app-loading *ngIf="loading; else notLoading"></app-loading>
<ng-template #notLoading>
  <nav class="col mb-2 overflow-auto" *ngIf="rounds && pages.length > 0">
    <ul class="pagination pagination-sm justify-content-center mb-1">
      <li class="page-item" [ngClass]="{'disabled': pageNumber === 0}">
        <button type="button" class="page-link" (click)="showRound(pageNumber - 1)">
          <fa-icon [icon]="faChevronCircleLeft"></fa-icon>
        </button>
      </li>
      <li *ngFor="let page of pages; let idx = index" class="page-item" [ngClass]="{'active': idx === pageNumber}">
        <button type="button" class="page-link" (click)="showRound(idx)">{{ page }}</button>
      </li>
      <li class="page-item" [ngClass]="{'disabled': pageNumber === pages.length - 1}">
        <button type="button" class="page-link" (click)="showRound(pageNumber + 1)">
          <fa-icon [icon]="faChevronCircleRight"></fa-icon>
        </button>
      </li>
    </ul>
  </nav>
  <ul class="list-group">
    <li *ngIf="!rounds || pages.length === 0" class="list-group-item text-muted text-center">
      <span>This stage has not yet started</span>
    </li>
    <li class="animated fadeIn list-group-item d-flex justify-content-between m-0 p-1"
        *ngFor="let match of round">
      <div class="d-flex flex-column justify-content-center align-items-center col-4 p-0">
        <app-profile-photo [circle]="true" [user]="match.groupParticipantAway.user" size="small"></app-profile-photo>
        <span class="mx-2 text-truncate w-100 text-center">{{match.groupParticipantAway.user.displayName}}</span>
      </div>
      <div class="d-flex p-0 align-items-center justify-content-center flex-column"
          [ngClass]="{'col-4': !tournamentDetailsService.isCreator(), 'col-3': tournamentDetailsService.isCreator()}">
          <small class="font-weight-bold">Group {{match.groupName}}</small>
          <div class="d-flex justify-content-center mb-1">
              <div class="h5 m-0 mx-1">
                <span class="badge badge-dark">{{ match.registeredTime ? match.scoreAway : '-' }}</span>
              </div>
              <div class="h5 m-0 mx-1">
                <span class="badge badge-dark">{{ match.registeredTime ? match.scoreHome : '-' }}</span>
              </div>
          </div>
          <small class="text-muted" *ngIf="!match.scheduledTime">TBD</small>
          <small class="text-muted text-center" *ngIf="match.scheduledTime">{{ match.scheduledTime | date: 'longDate' }}</small>
      </div>
      <div class="d-flex flex-column align-items-center justify-content-center col-4 p-0">
        <app-profile-photo [circle]="true" [user]="match.groupParticipantHome.user" size="small"></app-profile-photo>
        <span class="mx-2 text-truncate w-100 text-center">{{match.groupParticipantHome.user.displayName}}</span>
      </div>
      <div *ngIf="tournamentDetailsService.isCreator()" class="col-1 d-flex p-0 align-items-center justify-content-end">
        <button mat-mini-fab color="primary" class="mat-elevation-z2" [matMenuTriggerFor]="matchActions" [disabled]="match.registeredTime">
          <fa-icon [icon]="faEllipsisV"></fa-icon>
        </button>
        <mat-menu #matchActions>
          <button mat-menu-item (click)="showUpdateDate(match)">
            <img src="https://png.icons8.com/cotton/calendar/24" alt="Update date"> Update Date
          </button>
          <button mat-menu-item (click)="showUpdateMatch(match)">
            <img src="https://png.icons8.com/cotton/-scoreboard-/24" alt="Input score"> Input Score
          </button>
        </mat-menu>
      </div>
    </li>
  </ul>  
</ng-template>