<div class="row">
  <div class="col p-2">
    <form *ngIf="existingTeam; else customTeam" #temExistingForm="ngForm"
          class="animated fadeIn col">
      <div class="row">
        <div class="form-group col-6">
          <mat-form-field class="w-100">
            <mat-label>Confederation</mat-label>
            <mat-select (selectionChange)="selectConfederation($event)" [(ngModel)]="confederationId"
                required [disabled]="!confederations || confederations.length === 0" name="confederation">
              <mat-option *ngFor="let confederation of confederations" [value]="confederation.id">
                {{confederation.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-group col-6">
          <mat-form-field class="w-100">
            <mat-label>Country</mat-label>
            <mat-select (selectionChange)="selectCountry($event)" [(ngModel)]="countryId"
                required [disabled]="!countries || countries.length === 0" name="country">
              <mat-option *ngFor="let country of countries" [value]="country.id">
                {{country.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-6">
          <mat-form-field class="w-100">
            <mat-label>League</mat-label>
            <mat-select (selectionChange)="selectLeague($event)" [(ngModel)]="leagueId"
                required [disabled]="!leagues || leagues.length === 0" name="league">
              <mat-option *ngFor="let league of leagues" [value]="league.id">
                {{league.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-group col-6">
          <mat-form-field class="w-100">
            <mat-label>Team</mat-label>
            <mat-select (selectionChange)="selectTeam($event)" [(ngModel)]="teamId"
                required [disabled]="!teams || teams.length === 0" name="team">
              <mat-option *ngFor="let team of teams" [value]="team.id">
                {{team.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row m-0 justify-content-end">
          <app-saving-button (clicked)="addTeam()" [disabled]="temExistingForm.invalid"></app-saving-button>
      </div>
    </form>
    <ng-template #customTeam>
      <form #customTeamForm="ngForm" class="animated fadeIn col">
        <app-upload [path]="'/tournaments/' + tournamentDetaiilsService.tournament.uid + '/teams'"
                    [label]="'Photo'"
                    (photoUrl)="photoUploaded($event)"></app-upload>
        <div class="d-flex justify-content-center">
          <div class="img-fluid rounded-circle img-team-squared mx-2 mat-elevation-z2"
            [style.background-image]="team.photoUrl | photo: 64: 'football2' | uriStyleSanitizer">
          </div>
          <mat-form-field appearance="outline" class="flex-grow-1">
            <mat-label>Name</mat-label>
            <input type="text"placeholder="Enter title" required
                  matInput name="name" #name="ngModel" [(ngModel)]="team.name">
          </mat-form-field>
        </div>
        <div class="row m-0 justify-content-end">
            <app-saving-button (clicked)="addTeam()" [disabled]="customTeamForm.invalid"></app-saving-button>
        </div>
      </form>
    </ng-template>
    <div class="row m-0 justify-content-center align-items-center">
      <span class="mr-2">Custom</span>
      <mat-slide-toggle [(ngModel)]="existingTeam" color="accent">Existing</mat-slide-toggle>
    </div>
  </div>
</div>