<app-loading *ngIf="loading"></app-loading>
<div *ngIf="!loading" class="d-flex flex-column betapp-body">
  <app-navbar></app-navbar>
  <mat-sidenav-container class="bg-transparent flex-grow-1">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
    <mat-sidenav [(opened)]="navBarService.showSideNav" mode="over" position="end"
                (openedChange)="openedChange($event)">
      <app-shared-profile></app-shared-profile>
    </mat-sidenav>
  </mat-sidenav-container>
</div>
