.mat-drawer.mat-sidenav {
  width: 240px;
  min-width: 240px;
  background: #dfe4ea !important;
}

mat-toolbar {
  font-size: .8em;
}

:host ::ng-deep .mat-sidenav-content {
  display: flex;
  flex-direction: column;
}

:host ::ng-deep .mat-toolbar-row-secondary.mat-toolbar-row {
  height: auto;
}