<form #formMatch="ngForm">
    <div class="d-flex bg-primary text-light rounded-top pb-2">
        <div class="col-4 d-flex flex-column align-items-center">
            <div class="img-fluid img-participant-capture my-2 rounded-circle"
                [style.background-image]="match.groupParticipantAway.user.photoUrl | photo: 64: 'gender-neutral-user' | uriStyleSanitizer">
            </div>
            <span class="text-truncate w-100 text-center h6">{{match.groupParticipantAway.user.displayName}}</span>
        </div>
        <div class="col-4 d-flex justify-content-between align-items-center">
            <div class="form-group p-1">
                <input type="number" class="form-control form-control-sm no-arrows text-center border border-dark" required
                        name="scoreAway" #scoreHome="ngModel"
                        [(ngModel)]="match.scoreAway">
            </div>
            <div class="form-group p-1">
                <input type="number" class="form-control form-control-sm no-arrows text-center border border-dark" required
                        name="scoreHome" #scoreHome="ngModel"
                        [(ngModel)]="match.scoreHome">
            </div>
        </div>
        <div class="col-4 d-flex flex-column align-items-center">
            <div class="img-fluid img-participant-capture my-2 rounded-circle"
                [style.background-image]="match.groupParticipantHome.user.photoUrl | photo: 64: 'gender-neutral-user' | uriStyleSanitizer">
            </div>
            <span class="text-truncate w-100 text-center h6">{{match.groupParticipantHome.user.displayName}}</span>
        </div>
    </div>
    <div class="d-flex justify-content-end pt-2 px-2">
        <app-saving-button [disabled]="!formMatch.valid" (clicked)="saveMatch(formMatch)"></app-saving-button>
    </div>
</form>