<ul class="list-group list-group-flush animated fadeIn fast col p-0">
  <app-loading *ngIf="loading"></app-loading>
  <li class="list-group-item p-0 d-flex" *ngIf="!loading || user">
    <app-profile-photo [user]="user" [viewProfile]="false"></app-profile-photo>
    <div class="d-flex flex-column px-2 flex-fill">
      <div class="d-flex align-items-center justify-content-between">
        <span class="d-inline-block text-break mr-2">{{user.displayName}}</span>
        <button mat-raised-button class="mw-max-content" color="warn"
          (click)="unfollow()" *ngIf="user.following">Unfollow
        </button>
        <button mat-raised-button class="mw-max-content" color="default"
          (click)="follow()" *ngIf="!user.following && !userFollowersService.sameUser(user)">Follow
        </button>
      </div>
      <small>
        <span class="font-weight-bold">{{user.followingCount}}</span> Following
        <span class="font-weight-bold">{{user.followersCount}}</span> Followers
      </small>
      <small class="text-break text-muted">{{user?.description}}</small>
    </div>
  </li>
</ul>