<div class="row justify-content-center m-0 my-3 animated fadeIn">
  <div class="col-md-12 col-lg-6 bg-white rounded-bottom">
    <form #form="ngForm">
      <div class="row m-0">
        <div class="col-sm-6 border-right p-4 d-flex flex-column">
            <mat-form-field appearance="outline" class="col p-0 mat-form-field-custom-wrapper">
              <mat-label>Title</mat-label>
              <input type="text"placeholder="Enter title" required
                    matInput name="title" #title="ngModel" [(ngModel)]="tournament.title">
            </mat-form-field>
            <app-upload [label]="'Logo'" (photoUrl)="logoUploaded($event)"></app-upload>
            <div class="mt-2 img-tournament-logo rounded border"
                [style.background-image]="tournament.photoUrl | photo: 256: 'trophy--v2' | uriStyleSanitizer">
            </div>
        </div>
        <div class="col-sm-6 p-4 justify-content-between d-flex flex-column">
          <div>
            <div class="row m-0 justify-content-center">
              <label class="mr-2" for="groups">Playoffs</label>
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="groups"
                        name="groups" #groups="ngModel" [(ngModel)]="tournament.tournamentGroups">
                <label class="custom-control-label" for="groups">Groups</label>
              </div>
            </div>
            <div class="row m-0 justify-content-center">
              <label class="mr-2" for="teams">People</label>
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="teams"
                        name="teams" #teams="ngModel" [(ngModel)]="tournament.tournamentTeams">
                <label class="custom-control-label" for="teams">Teams</label>
              </div>
            </div>
          </div>
          <ul class="list-group text-secondary">
            <li class="list-group-item list-group-item-action px-2"
                #public (click)="privacyChanged(public)" attr-privacy="0">
              <div class="d-flex align-items-center">
                <fa-icon [icon]="faGlobeAmericas"></fa-icon>
                <div class="d-flex flex-column ml-2">
                  <span>Public</span>
                  <span class="small">Anyone can find the tournament, see the participants and activity</span>
                </div>
              </div>
            </li>
            <li class="list-group-item list-group-item-action px-2 active"
                #private (click)="privacyChanged(private)" attr-privacy="1">
              <div class="d-flex align-items-center">
                <fa-icon [icon]="faLockOpen"></fa-icon>
                <div class="d-flex flex-column ml-2">
                  <span>Private</span>
                  <span class="small">Anyone can find the tournament, only the participants can see the activity</span>
                </div>
              </div>
            </li>
            <li class="list-group-item list-group-item-action px-2"
                #secret (click)="privacyChanged(secret)" attr-privacy="2">
              <div class="d-flex align-items-center">
                <fa-icon [icon]="faLock"></fa-icon>
                <div class="d-flex flex-column ml-2">
                  <span>Secret</span>
                  <span class="small">Only the participants can see the activity</span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="row justify-content-end bg-light p-3 rounded-bottom">
        <app-saving-button (clicked)="saveTournament()" [disabled]="form.invalid"></app-saving-button>
        <button type="button" class="btn btn-danger rounded-pill ml-3" [routerLink]="['/dashboard']">
          <fa-icon [icon]='faTimesCircle'></fa-icon> Cancel
        </button>
      </div>
    </form>
  </div>
</div>
