<ul class="list-group list-group-flush animated fadeIn fast col p-0">
  <li class="list-group-item d-flex p-2">
    <app-profile-photo [user]="user" [viewProfile]="false"></app-profile-photo>
    <div class="d-flex flex-column px-2 flex-fill">
      <div class="d-flex align-items-center justify-content-between">
        <span class="d-inline-block text-break mr-2">{{user.displayName}}</span>
        <button mat-stroked-button class="mw-max-content"
          *ngIf="userFollowersService.following(user)">Following
        </button>
        <button *ngIf="!userFollowersService.following(user) && !userFollowersService.sameUser(user)"
          mat-raised-button color="default" (click)="followClicked()" class="mw-max-content">Follow
        </button>
      </div>
      <small class="text-break text-muted">{{user?.description}}</small>
    </div>
  </li>
</ul>