<app-loading *ngIf="loading; else notLoading"></app-loading>
<ng-template #notLoading>
  <nav class="col mb-2 overflow-auto" *ngIf="rounds && pages.length > 0">
    <ul class="pagination pagination-sm justify-content-center mb-1">
      <li class="page-item" [ngClass]="{'disabled': pageNumber === 0}">
        <button type="button" class="page-link" (click)="showRound(pageNumber - 1)">
          <fa-icon [icon]="faChevronCircleLeft"></fa-icon>
        </button>
      </li>
      <li *ngFor="let page of pages; let idx = index" class="page-item" [ngClass]="{'active': idx === pageNumber}">
        <button type="button" class="page-link" (click)="showRound(idx)">{{ page }}</button>
      </li>
      <li class="page-item" [ngClass]="{'disabled': pageNumber === pages.length - 1}">
        <button type="button" class="page-link" (click)="showRound(pageNumber + 1)">
          <fa-icon [icon]="faChevronCircleRight"></fa-icon>
        </button>
      </li>
    </ul>
  </nav>
  <ul class="list-group">
    <li *ngIf="!rounds || pages.length === 0" class="list-group-item text-muted text-center">
      <span>This stage has not yet started</span>
    </li>
    <li class="list-group-item flex-column animated fadeIn d-flex justify-content-between m-0 p-1"
        *ngFor="let match of round"
        [matBadge]="match.matchResult?.points" [matBadgeHidden]="!match.registeredTime" matBadgeColor="accent" matBadgeOverlap="true">
      <div class="row m-0">
        <div class="d-flex flex-column justify-content-center align-items-center col-4 p-0">
          <div class="img-fluid rounded-circle img-participant-squared"
              [style.background-image]="match.groupTeamAway.team.photoUrl | photo: 32: 'football2' | uriStyleSanitizer">
          </div>
          <span class="mx-2 text-truncate w-100 text-center">{{match.groupTeamAway.team.name}}</span>
        </div>
          <div class="d-flex p-0 align-items-center justify-content-center flex-column col-3">
            <small class="font-weight-bold">Group {{match.groupName}}</small>
            <div class="d-flex justify-content-center align-items-end mb-1">
              <div class="h4 m-0 mx-1">
                <span class="badge badge-dark">{{ match.registeredTime ? match.scoreAway : '-' }}</span>
              </div>
              <div class="h5 m-0 mx-1">
                <span class="badge badge-warning">{{ match.matchResult ? match.matchResult.scoreAway : '-' }}</span>
              </div>
              <div class="h5 m-0 mx-1">
                <span class="badge badge-warning">{{ match.matchResult ? match.matchResult.scoreHome : '-' }}</span>
              </div>
              <div class="h4 m-0 mx-1">
                <span class="badge badge-dark">{{ match.registeredTime ? match.scoreHome : '-' }}</span>
              </div>
            </div>
            <small class="text-muted" *ngIf="!match.scheduledTime">TBD</small>
            <small class="text-muted text-center" *ngIf="match.scheduledTime">{{ match.scheduledTime | date: 'longDate' }}</small>
          </div>
          <div class="d-flex flex-column align-items-center justify-content-center col-4 p-0">
            <div class="img-fluid rounded-circle img-participant-squared"
                    [style.background-image]="match.groupTeamHome.team.photoUrl | photo: 32: 'football2' | uriStyleSanitizer">
            </div>
            <span class="mx-2 text-truncate w-100 text-center">{{match.groupTeamHome.team.name}}</span>
          </div>
          <div class="col-1 d-flex p-0 align-items-center justify-content-end">
            <button mat-mini-fab color="primary" class="mat-elevation-z2" [matMenuTriggerFor]="matchActions" [disabled]="match.registeredTime">
              <fa-icon [icon]="faEllipsisV"></fa-icon>
            </button>
            <mat-menu #matchActions>
              <button *ngIf="tournamentDetailsService.isCreator()"
                  mat-menu-item (click)="showUpdateDate(match)">
                <img src="https://png.icons8.com/cotton/24/calendar.png" alt="Update date"> Update Date
              </button>
              <button mat-menu-item (click)="showUpdateMatch(match, true)">
                <img src="https://png.icons8.com/cotton/24/cash-in-hand.png" alt="Make a bet"> Make a Bet
              </button>
              <button *ngIf="tournamentDetailsService.isCreator()" mat-menu-item (click)="showUpdateMatch(match)">
                <img src="https://png.icons8.com/cotton/24/-scoreboard-.png" alt="Input score"> Input Score
              </button>
            </mat-menu>
          </div>
      </div>
      <app-match-teams-bets [matchTeams]="match"></app-match-teams-bets>
    </li>
  </ul>  
</ng-template>