<div class="position-relative p-3" *ngIf="loading; else notLoading">
    <app-loading></app-loading>
</div>
<ng-template #notLoading>
    <nav class="col mb-2 overflow-auto" *ngIf="rounds && rounds.length > 0">
    <ul class="pagination pagination-sm justify-content-center mb-1">
        <li class="page-item" [ngClass]="{'disabled': roundNumber === 0}">
        <button type="button" class="page-link" (click)="showRound(roundNumber - 1)">Previous</button>
        </li>
        <li *ngFor="let round of rounds; let idx = index" class="page-item" [ngClass]="{'active': idx === roundNumber}">
        <button type="button" class="page-link" (click)="showRound(idx)">{{ idx + 1 }}</button>
        </li>
        <li class="page-item" [ngClass]="{'disabled': roundNumber === rounds.length - 1}">
        <button type="button" class="page-link" (click)="showRound(roundNumber + 1)">Next</button>
        </li>
    </ul>
    </nav>
    <ul class="list-group mb-3">
        <li *ngIf="!matches || matches.length === 0" class="list-group-item text-muted text-center">
            <span>This stage has not yet started</span>
        </li>
        <li class="list-group-item flex-column animated fadeIn d-flex justify-content-between m-0 p-1"
            *ngFor="let match of matches">
            <div class="row m-0">
                <div class="d-flex flex-column justify-content-center align-items-center col-4 p-0">
                    <div class="img-fluid rounded-circle img-participant-squared"
                        [style.background-image]="match.groupTeamAway.team.photoUrl | photo: 32: 'football2' | uriStyleSanitizer">
                    </div>
                    <span class="mx-2 text-truncate w-100 text-center">{{match.groupTeamAway.team.name}}</span>
                </div>
                <div class="d-flex p-0 align-items-center justify-content-center flex-column col-3">
                    <div class="d-flex justify-content-center align-items-end mb-1">
                        <div class="h4 m-0 mx-1">
                            <span class="badge badge-dark">{{ match.registeredTime ? match.scoreAway : '-' }}</span>
                        </div>
                        <div class="h5 m-0 mx-1">
                          <span class="badge badge-warning">{{ match.matchResult ? match.matchResult.scoreAway : '-' }}</span>
                        </div>
                        <div class="h5 m-0 mx-1">
                          <span class="badge badge-warning">{{ match.matchResult ? match.matchResult.scoreHome : '-' }}</span>
                        </div>
                        <div class="h4 m-0 mx-1">
                            <span class="badge badge-dark">{{ match.registeredTime ? match.scoreHome : '-' }}</span>
                        </div>
                    </div>
                    <small class="text-muted" *ngIf="!match.scheduledTime">TBD</small>
                    <small class="text-muted" *ngIf="match.scheduledTime">{{ match.scheduledTime | date }}</small>
                </div>
                <div class="d-flex flex-column align-items-center justify-content-end col-4 p-0">
                    <div class="img-fluid rounded-circle img-participant-squared"
                            [style.background-image]="match.groupTeamHome.team.photoUrl | photo: 32: 'football2' | uriStyleSanitizer">
                    </div>
                    <span class="mx-2 text-truncate w-100 text-center">{{match.groupTeamHome.team.name}}</span>
                </div>
                <div class="col-1 d-flex p-0 align-items-stretch justify-content-end">
                    <button class="btn btm-small btn-light border" [matMenuTriggerFor]="matchActions"
                        [disabled]="match.registeredTime">
                        <fa-icon [icon]="faEllipsisV"></fa-icon>
                    </button>
                    <mat-menu #matchActions>
                        <button *ngIf="tournamentDetailsService.isCreator()"
                            mat-menu-item (click)="showUpdateDate(match)">
                            <fa-icon [icon]="faClock"></fa-icon> Update Date</button>
                        <button mat-menu-item (click)="showUpdateMatch(match, true)">
                            <fa-icon [icon]="faMoneyBillAlt"></fa-icon> Make a Bet</button>
                        <button *ngIf="tournamentDetailsService.isCreator()"
                            mat-menu-item (click)="showUpdateMatch(match)">
                            <fa-icon [icon]="faPenAlt"></fa-icon> Input Result</button>
                    </mat-menu>
                </div>
            </div>
            <mat-expansion-panel (opened)="afterExpand(match.id)" matRipple>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <small>Participants Bets</small>
                    </mat-panel-title>
                    <mat-panel-description>
                        <small>View details</small>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <app-match-teams-bets [matchTeamId]="match.id"></app-match-teams-bets>
            </mat-expansion-panel>
        </li>
    </ul>  
</ng-template>