<div class="row m-0 animated fadeIn" *ngIf="tournamentSettings">
  <div class="col-12 p-0">
    <div *ngIf="tournament.tournamentGroups" class="card">
      <form (ngSubmit)="saveSettings()">
        <div class="card-header border-dark">
          <span class="h5">Group Settings</span>
        </div>
        <div class="card-body">
            <div class="form-group">
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="roundTrip"
                        name="roundTrip" #roundTrip="ngModel" [(ngModel)]="tournamentSettings.groupRoundTrip">
                <label class="custom-control-label" for="roundTrip">Round Trip</label>
              </div>
            </div>
            <div class="form-group">
              <label for="groupNumber">Number of Groups</label>
              <input type="number" min="1" max="8" class="form-control" id="groupNumber"
                    name="groupNumber" #groupNumber="ngModel" [(ngModel)]="tournamentSettings.groupNumber">
            </div>
            <div class="form-group">
              <label for="first">First of each Group</label>
              <input type="number" min="1" class="form-control" id="first"
                    name="first" #first="ngModel" [(ngModel)]="tournamentSettings.first">
              <small class="form-text text-muted">How many teams/people will pass to the playoffs per group</small>
            </div>
        </div>
        <div class="card-header border-dark">
          <span class="h5">Playoffs Settings</span>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="playoffStage">Playoffs Stage</label>
            <select name="playoffStage" id="playoffStage" class="form-control"
                    (change)=stageSelected($event.target.value)
                    #playoffStage="ngModel" [(ngModel)]="tournamentSettings.playoffStage">
              <option value="{{stage}}" *ngFor="let stage of keys(playoffStages)">{{playoffStages[stage]}}</option>
            </select>
            <small class="form-text text-muted">From which stage do the playoffs will start</small>
          </div>
          <div class="form-group row" *ngIf="showEighthFinals">
            <div class="col-6 col-md-3">
              <span>{{playoffStages['EIGHTH_FINALS']}}</span>
            </div>
            <div class="custom-control custom-switch col-6 col-md">
              <input type="checkbox" class="custom-control-input" id="eightFinals" data-stage="EIGHTH_FINALS">
              <label class="custom-control-label" for="eightFinals">Round Trip</label>
            </div>
          </div>
          <div class="form-group row" *ngIf="showQuarterFinals">
            <div class="col-6 col-md-3">
              <span>{{playoffStages['QUARTER_FINALS']}}</span>
            </div>
            <div class="custom-control custom-switch col-6 col-md">
              <input type="checkbox" class="custom-control-input" id="quarterFinals" data-stage="QUARTER_FINALS">
              <label class="custom-control-label" for="quarterFinals">Round Trip</label>
            </div>
          </div>
          <div class="form-group row" *ngIf="showSemifinals">
            <div class="col-6 col-md-3">
              <span>{{playoffStages['SEMIFINALS']}}</span>
            </div>
            <div class="custom-control custom-switch col-6 col-md">
              <input type="checkbox" class="custom-control-input" id="semifinals" data-stage="SEMIFINALS">
              <label class="custom-control-label" for="semifinals">Round Trip</label>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-6 col-md-3">
              <span>{{playoffStages['FINALS']}}</span>
            </div>
            <div class="custom-control custom-switch col-6 col-md">
              <input type="checkbox" class="custom-control-input" id="finals" data-stage="FINALS">
              <label class="custom-control-label" for="finals">Round Trip</label>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-end mt-2 card-footer">
          <app-saving-button (clicked)="saveSettings()"></app-saving-button>
        </div>
      </form>
    </div>
  </div>
</div>
