<div *ngIf="tournamentSettings" class="card mb-2">
  <form (ngSubmit)="saveSettings()" [formGroup]="formSettings" class="animated fadeIn needs-validation">
    <div *ngIf="tournament.tournamentGroups">
      <div class="card-header border-dark">
        <span class="h5">Group Settings</span>
      </div>
      <div class="card-body animated fadeIn">
          <mat-slide-toggle color="primary" formControlName="groupRoundTrip">Round Trip</mat-slide-toggle>
          <mat-form-field appearance="outline" class="col p-0">
            <mat-label>Number of Groups</mat-label>
            <input matInput type="number" placeholder="Number of groups" required formControlName="groupNumber"
              (change)="validateStage()">
            <mat-error *ngIf="formSettings.get('groupNumber').errors"> {{ getGroupsErrorMessage() }} </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="col p-0">
            <mat-label>First of each group</mat-label>
            <input matInput type="number" placeholder="First of each group" required formControlName="first"
              (change)="validateStage()">
            <mat-error *ngIf="formSettings.get('first').errors"> {{ getFirstOfGroupErrorMessage() }} </mat-error>
            <mat-hint>How many teams/people will pass to the playoffs per group</mat-hint>
          </mat-form-field>
      </div>
    </div>
    <div class="card-header border-dark">
      <span class="h5">Playoffs Settings</span>
    </div>
    <div class="card-body animated fadeIn">
      <mat-form-field appearance="outline" class="col p-0">
        <mat-label>Playoffs Stage</mat-label>
        <mat-select name="playoffStage" (selectionChange)="stageSelected($event.value)" formControlName="playoffStage" required>
            <mat-option [value]="stage" *ngFor="let stage of keys(playoffStages)">{{playoffStages[stage]}}</mat-option>
        </mat-select>
        <mat-error *ngIf="formSettings.get('playoffStage').errors"> {{ getPlayoffStageErrorMessage() }} </mat-error>
        <mat-hint>From which stage do the playoffs will start</mat-hint>
      </mat-form-field>
      <div class="row m-0" *ngIf="showEighthFinals">
        <div class="w-150p">
          <span>{{playoffStages['EIGHTH_FINALS']}}</span>
        </div>
        <div class="flex-grow-1">
            <mat-slide-toggle color="primary" formControlName="eightFinalsRoundTrip">Round Trip</mat-slide-toggle>
        </div>
      </div>
      <div class="row m-0" *ngIf="showQuarterFinals">
        <div class="w-150p">
          <span>{{playoffStages['QUARTER_FINALS']}}</span>
        </div>
        <div class="flex-grow-1">
            <mat-slide-toggle color="primary" formControlName="quarterFinalsRoundTrip">Round Trip</mat-slide-toggle>
        </div>
      </div>
      <div class="row m-0" *ngIf="showSemifinals">
        <div class="w-150p">
          <span>{{playoffStages['SEMIFINALS']}}</span>
        </div>
        <div class="flex-grow-1">
            <mat-slide-toggle color="primary" formControlName="semiFinalsRoundTrip">Round Trip</mat-slide-toggle>
        </div>
      </div>
      <div class="row m-0">
        <div class="w-150p">
          <span>{{playoffStages['FINALS']}}</span>
        </div>
        <div class="flex-grow-1">
            <mat-slide-toggle color="primary" formControlName="finalRoundTrip">Round Trip</mat-slide-toggle>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end mt-2 card-footer">
      <app-saving-button (clicked)="saveSettings()" [disabled]="!formSettings.valid" class="mx-2"></app-saving-button>
      <button type="button" mat-raised-button color="warn" (click)="deleteTournament()">
        <fa-icon [icon]="faTrashAlt"></fa-icon>
        <span *ngIf="!deleteClicked"> Delete</span>
        <span *ngIf="deleteClicked"> Click again to delete</span>
      </button>
    </div>
  </form>
</div>
