<button type="button" class="btn btn-success rounded-pill mt-2 btn-sm animated fadeIn fast"
        *ngIf="!addingParticipant && tournamentDetailsService.isCreator()"
        (click)="addParticipant()">
  <fa-icon [icon]="faPlusCircle"></fa-icon> Add participant
</button>
<div *ngIf="addingParticipant" class="position-relative">
  <div class="d-flex mt-2 animated fadeIn fast">
    <input type="text" class="flex-grow-1 form-control input-participant" placeholder="Participant name"
    (keyup)="searchParticipant(participant)" #participant>
    <button class="btn btn-danger btn-sm" type="button" (click)="cancelParticipant()">
      <fa-icon [icon]="faTimesCircle"></fa-icon> Cancel
    </button>
  </div>
  <div class="position-absolute w-100 shadow-sm" style="z-index: 1000">
    <app-participants-list [participants]="newParticipants"
                          [emptyLabel]="'There are no matching participants'"
                          (participantEvent)="saveParticipant($event)">
    </app-participants-list>
  </div>
</div>
<div class="rounded-top mt-2 p-2 bg-dark d-flex justify-content-between align-items-center">
  <div class="col-4 d-flex justify-content-start p-0">
    <button mat-raised-button (click)="toggleEdit()" *ngIf="tournamentDetailsService.isCreator()"
      [ngClass]="{'bg-secondary text-white': edit, 'bg-warning': !edit}">
      <fa-icon [icon]="faPenAlt"></fa-icon>
    </button>
  </div>
  <div class="col-4 d-flex justify-content-center p-2">
    <span class="text-light h5 m-0">Participants</span>
  </div>
  <div class="col-4 d-flex justify-content-end p-0">
    <button mat-raised-button color="warn" *ngIf="edit" (click)="deleteParticipants()">
        <fa-icon [icon]="faTrashAlt"></fa-icon>
    </button>
  </div>
</div>
<app-loading *ngIf="loading"></app-loading>
<app-participants-list [participants]="participants"
  (participantsEvent)="participantsEvent($event)"
  [viewProfile]="true"[selectable]="edit">
</app-participants-list>
