<button type="button" class="btn btn-success rounded-pill mt-2 btn-sm animated fadeIn fast"
        *ngIf="!addingParticipant && tournamentDetailsService.isCreator()"
        (click)="addParticipant()">
  <fa-icon [icon]="faPlusCircle"></fa-icon> Add participant
</button>
<div *ngIf="addingParticipant" class="position-relative">
  <div class="d-flex mt-2 animated fadeIn fast">
    <input type="text" class="flex-grow-1 form-control input-participant" placeholder="Participant name"
    (keyup)="searchParticipant(participant)" #participant>
    <button class="btn btn-danger btn-sm" type="button" (click)="cancelParticipant()">
      <fa-icon [icon]="faTimesCircle"></fa-icon> Cancel
    </button>
  </div>
  <div class="position-absolute w-100 shadow-sm" style="z-index: 1000">
    <app-participants-list [participants]="newParticipants"
                          [emptyLabel]="'There are no matching participants'"
                          (participantEvent)="saveParticipant($event)">
    </app-participants-list>
  </div>
</div>
<h5 class="bg-dark text-light text-center py-3 mb-0 mt-2 rounded-top">Participants</h5>
<app-loading *ngIf="loading"></app-loading>
<app-participants-list [participants]="participants" [viewProfile]="true"></app-participants-list>
