<div class="p-0 my-2 mx-1">
  <ul class="list-group">
    <li *ngIf="!showAwayTeam()" class="list-group-item p-1 d-flex align-items-center justify-content-center">
      <div class="img-fluid rounded-circle img-team-squared"
            [style.background-image]="null | photo: 32: 'warning-shield': 'color' | uriStyleSanitizer">
      </div>
      <small class="text-muted mx-1 d-none d-sm-inline-block flex-grow-1">TBD</small>
    </li>
    <li *ngIf="showAwayTeam()" class="list-group-item p-1 d-flex align-items-center justify-content-center">
      <div class="img-fluid rounded-circle img-team-squared"
            [style.background-image]="groupTeams[0].team.photoUrl | photo: 32: 'football2' | uriStyleSanitizer">
      </div>
      <small class="mx-1 text-truncate d-none d-sm-inline-block flex-grow-1">{{groupTeams[0].team.name}}</small>
    </li>
    <li *ngIf="!showHomeTeam()" class="list-group-item p-1 d-flex align-items-center justify-content-center">
      <div class="img-fluid rounded-circle img-team-squared"
            [style.background-image]="null | photo: 32: 'warning-shield': 'color' | uriStyleSanitizer">
      </div>
      <small class="text-muted mx-1 d-none d-sm-inline-block flex-grow-1">TBD</small>
    </li>
    <li *ngIf="showHomeTeam()" class="list-group-item p-1 d-flex align-items-center justify-content-center">
      <div class="img-fluid rounded-circle img-team-squared"
            [style.background-image]="groupTeams[1].team.photoUrl | photo: 32: 'football2' | uriStyleSanitizer">
      </div>
      <small class="mx-1 text-truncate d-none d-sm-inline-block flex-grow-1">{{groupTeams[1].team.name}}</small>
    </li>
  </ul>
</div>  